<h1>RubyOnRails-MemcachedClient-RetrievalCommands-Manager</h1>

<%= form_for :post, url:'/retrieval' do |f| %>
  <p>
     <table>
        <tr>
              <td>
                <label><b>Retrieval Command:</b></label>
              </td>
              <td>
                <%= select_tag(:retrievalCommand, options_for_select([['get', 1], ['gets', 2]])) %>
              </td>
              <td>
                <%= f.text_field :stored_key %>
              </td>
          </tr>
      </table>
  </p>
  <%= f.submit "Execute" %>
<% end -%>
<hr>
<h2>Retrieval Command results:</h2>
<p>
    <textarea rows="20" cols="70" readonly="true"><%= @result %>
    </textarea>
<p/>
<p>
  <%= form_for :post, url:'/' do |f2| %>
    <%= f2.submit "Back to Menu" %>
  <% end -%>
</p>