<h1>RubyOnRails-MemcachedClient-StorageCommands-Manager</h1>

<%= form_for :post, url:'/storage' do |f| %>
  <p>
     <table>
        <tr>
              <td>
                <label><b>Storage Command:</b></label>
              </td>
              <td>
                <%= select_tag(:storageCommand, options_for_select([['set', 1], ['add', 2], ['replace', 3], ['append', 4], ['prepend', 5], ['cas', 6]])) %>
              </td>
              <td>
                <%= f.text_field :commandBody %>
              </td>
               <td>
                <label><b>Allow Append/Prepend:</b></label>
                <%= f.check_box :raw %>
              </td>
          </tr>
      </table>
  </p>
  <%= f.submit "Execute" %>
<% end -%>
<hr>
<h2>Storage Command results:</h2>
<p>
    <textarea rows="20" cols="70" readonly="true"><%= @result %>
    </textarea>
</p>
<p>
  <%= form_for :post, url:'/' do |f2| %>
    <%= f2.submit "Back to Menu" %>
  <% end -%>
</p>